{% extends "base.html" %}


{% block titulo %} Contacto {% endblock %}

{% block contenido %}  



<div class="contacto mt-3">

    <div class="contacto-1">
       <h2 class="contacto-titulo">CONTACTANOS</h2>
      <p class="contacto-p">
        Para contactarse con el equipo encargado de esta aplicación, ponemos a su disposición los siguientes medios de comunicación.
    
    
      </p>

      <ul class="contacto-iconos">
        
       <li><i class="fa-solid fa-phone"></i> <br> 274-117-33-25 - 274-144-55-31</li> 

    </ul>

    </div>


    </div>



    {% endblock %}
